.contents.row
  .contents__content
    %h2.contents__content__head Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      -# = render "devise/shared/error_messages", resource: resource
      .contents__content__field
        = f.label :nickname
        %br/
        = f.text_field :name, autofocus: true, maxlength: "6", placeholder: '6文字以下'
      .contents__content__field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .contents__content__field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: '７文字以上'
      .contents__content__field
        = f.label :password確認
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '７文字以上'
      .contents__content__actions
        = f.submit "Sign up"
      = link_to 'back', root_path, class: "contents__content__back"
    -# = render "devise/shared/links"
