.contents.row
  .contents__content
    %h2.contents__content__head Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .contents__content__field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email'
      .contents__content__field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password", placeholder: 'password'
      -# - if devise_mapping.rememberable?
      -#   .field
      -#     = f.check_box :remember_me
      -#     = f.label :remember_me
      .contents__content__actions
        = f.submit "Log in"
      = link_to 'back', root_path
    -# = render "devise/shared/links"
