.products
  .products__sections
    .products__sections__header
      -if controller_name == "products"
        %h1.products__sections__header__text.glitch.is-glitching{"data-text" => "Check out your  Favorite Architectural Photos"} Check out your  Favorite Architectural Photos
      - elsif controller_name == "users"
        %h1.products__sections__header__text.glitch.is-glitching{"data-text" => "#{@name}'s Posts List"} 
          =  @name + "'s Posts List"
    .products__sections
      .products__sections__section
        .products__sections__section__scroll-fade
          .products__sections__section__scroll-fade__ex1.scroll-fade-row
            - @products.each do |product| 
              %div
                -if product.image.attached?
                  =image_tag product.image, class: "products__sections__section__scroll-fade__ex1__image", id: "#{product.id}"
                -else
                  =image_tag "pnenoimgs001.gif", class: "products__sections__section__scroll-fade__ex1__image", id: "#{product.id}"
                %p.products__sections__section__scroll-fade__ex1__text
                  -if controller_name == "products"
                    =product.user.name + "'s post"
                    %br
                  %br
                  = "Title : " + product.title
                  %br
    = paginate @products
    -if controller_name == "users"
      = link_to 'back', root_path, class: "products__sections__section__scroll-fade__ex1__back"
= render "layouts/details-modal"
