.products 
  .products__sections
    .products__sections__header
      -if controller_name == "products"
        %h1.products__sections__header__text.glitch.is-glitching{"data-text" => "Check out your  Favorite Architectural Photos"} Check out your  Favorite Architectural Photos
      - elsif controller_name == "users"
        %h1.products__sections__header__text.glitch.is-glitching{"data-text" => "#{@name}'s Posts List"} 
          =  @name + "'s Posts List"
    .products__sections
      .products__sections__section
        .products__sections__section__scroll-fade
          .products__sections__section__scroll-fade__ex1.scroll-fade-row
            - @products.each do |product| 
              %div
                -if product.image.attached?
                  =image_tag product.image
                -else
                  =image_tag "pnenoimgs001.gif"
                %p
                  -if controller_name == "products"
                    =product.user.name 
                    %br
                  %br
                  = product.title
                  %br
                    %ul.products__sections__section__scroll-fade__ex1__buttons
                      %li.products__sections__section__scroll-fade__ex1__buttons__button
                        = link_to 'show', "/products/#{product.id}", method: :get, class: 'products__sections__section__scroll-fade__ex1__buttons__button__text'
                      -if user_signed_in?  
                        -if product.user_id == current_user.id 
                          %li.products__sections__section__scroll-fade__ex1__buttons__button
                            = link_to 'edit', "/products/#{product.id}/edit", method: :get, class: 'products__sections__section__scroll-fade__ex1__buttons__button__text'
                          %li.products__sections__section__scroll-fade__ex1__buttons__button
                            = link_to 'delete', "/products/#{product.id}", method: :delete, class: 'products__sections__section__scroll-fade__ex1__buttons__button__text'
          -if controller_name == "users"
            = link_to 'back', root_path, class: "products__sections__section__scroll-fade__ex1__back"
          




