= render 'layouts/header'
.topmain
  .topmain__slider
    %li 
      = image_tag 'IMG_0582.jpg'
      = render 'top-contents'
    %li 
      = image_tag 'IMG_3389.jpg'
      = render 'top-contents'
    %li 
      = image_tag 'IMG_0476.jpg'
      = render 'top-contents'
    %li 
      = image_tag 'IMG_3348.jpg'
      = render 'top-contents'
    %li 
      = image_tag 'IMG_0737.jpg'
      = render 'top-contents2'
= render 'products'
= render 'about'
-# = render 'layouts/footer'
