.newproduct-contents
  = form_with(model: @products, local: true) do |form| 
    .newproduct-contents__top
      %h3.newproduct-contents__top__content post product
    %ul.newproduct-contents__lists
      %li.newproduct-contents__lists__title
        = form.text_field :title, placeholder: "title"
      %li.newproduct-contents__lists__image
        = form.file_field :image, placeholder: "image"
      %li.newproduct-contents__lists__text
        = form.text_area :text, placeholder: "text"
      %li.newproduct-contents__lists__btn
        = form.submit "send"




