.show-contents
  .show-contents__content
    .show-contents__content__title
      Title : 
      = @product.title
    .show-contents__content__name
      Nickname : 
      = @product.user.name
    .show-contents__content__text
      Explanatory text : 
      = @product.text
    .show-contents__content__image
      -if @product.image.attached?
        =image_tag @product.image
      -else
        =image_tag "pnenoimgs001.gif"
    .map-content
      %h2.map-title map(Architectural place)
      %br 
      #map
        %input{type: "hidden", value: @product.lat, class: 'lat' }
        %input{type: "hidden", value: @product.lng, class: 'lng' }
        %input{type: "hidden", value: @product.title, class: 'title' }
      %p Detailed map only in Japan
    = render "likes/like_form", product: @product
    - if user_signed_in? && current_user.id == @product.user_id
      %ul.show-contents__content__lists
        %li.show-contents__content__lists__list
          = link_to 'edit', "/products/#{@product.id}/edit", method: :get, class: 'show-contents__content__lists__list__text'
        %li.show-contents__content__lists__list
          = link_to 'delete', "/products/#{@product.id}", method: :delete, class: 'show-contents__content__lists__list__text'
    .show-contents__content__container
      - if current_user
        = form_with(model: @comment, url: product_comments_path(@product.id), method: :post, class: "show-contents__content__container__textarea", id: "new-comment") do |form|
          = form.text_area :comment, placeholder: "コメントする"
          .show-contents__content__container__btn
            = form.submit value: "SENT"
      %h4.show-contents__content__container__title ＜コメント一覧＞
      .show-contents__content__container__comments
        - if @comments
          - @comments.each do |comment|
            %p
              %strong
                = comment.user.name
                ：
              = comment.comment
    %br
    %br
    %br
    %br
    = link_to 'back', root_path, class: "show-contents__content__back"