.show-contents
  .show-contents__content
    .show-contents__content__title
      title :
      = @product.title
    .show-contents__content__image
      = image_tag @product.image
    - if user_signed_in? && current_user.id == @product.user_id
      %ul.show-contents__content__lists
        %li.show-contents__content__lists__list
          = link_to 'edit', "/products/#{@product.id}/edit", method: :get, class: 'show-contents__content__lists__list__text'
        %li.show-contents__content__lists__list
          = link_to 'delete', "/products/#{@product.id}", method: :delete, class: 'show-contents__content__lists__list__text'
      .show-contents__content__name
        nickname :
        = @product.user.name
    .show-contents__content__container
      - if current_user
        = form_with(model: @comment, url: product_comments_path(@product.id), method: :post, local: true, class: "show-contents__content__container__textarea") do |form|
          = form.text_area :comment, placeholder: "コメントする"
          = form.submit value: "SENT"
      .show-contents__content__container__comments
        %h4 ＜コメント一覧＞
        - if @comments
          - @comments.each do |comment|
            %p
              %strong
                = comment.user.name
                ：
              = comment.comment
    %br
    = link_to 'back', root_path, class: "show-contents__content__back"