.header
  .header__inner
    .header__inner__logo 
      -# %i.fa.fa-play.fa-3x
      -# %audio{controls:  "", src: "http://bbcsfx.acropolis.org.uk/assets/07069060.wav", class: 'header__inner__logo__sound'}
      -# %audio{controls: "", src: "http://bbcsfx.acropolis.org.uk/assets/07075037.wav", class: 'header__inner__logo__sound'}
    = link_to root_path, class: "header__inner__nav" do
      %p.header__inner__nav__item about me
    = link_to new_product_path, class: "header__inner__nav" do
      %p.header__inner__nav__item product new
  - if user_signed_in?
    .header__inner__nav
      = link_to "my page", "/users/#{current_user.id}", class: "header__inner__nav__item"
      = link_to "sign out", destroy_user_session_path, method: :delete, class: "header__inner__nav__item"
  - else
    .header__inner__nav
      = link_to "sign in", new_user_session_path, class: "header__inner__nav__item"
      = link_to "sign up", new_user_registration_path, class: "header__inner__nav__item"